src/main/mule/consumer-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:stripe="http://www.mulesoft.org/schema/mule/stripe"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/stripe http://www.mulesoft.org/schema/mule/stripe/current/mule-stripe.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<db:config name="Database_Config" doc:name="Database Config" doc:id="8be55605-97fc-4fc1-a178-df2aabc083cf" >
		<db:generic-connection url="${database.url}" driverClassName="${database.driver}" user="${database.user}" password="${database.password}" />
	</db:config>
	<flow name="CreateCustomerDatabase" doc:id="c9b3cd43-3ce1-4dd5-8a97-5d64a285609e" >
		<amqp:listener doc:name="Consume from customer.create.temporal" doc:id="4f2f62c7-6d10-4b63-892a-cfe8619683e3" config-ref="AMQP_Config" queueName="${customercreate-queues.database}"/>
		<logger level="INFO" doc:name="Logger" doc:id="c8eaf557-aeb4-4193-9a22-8d84bbd37348" message="Consumer: CustomerCreateDatabase"/>
		<db:insert doc:name="Insert" doc:id="e5007dbf-c276-4401-bcba-cc688df447ba" config-ref="Database_Config">
			<db:sql ><![CDATA[
INSERT INTO public.customers
	(firstName, lastname, email, phone, created_on)
VALUES 
	(:firstName, :lastName, :email, :phone, current_timestamp)
]]></db:sql>
			<db:input-parameters><![CDATA[
			#[{
			'firstName':payload.firstName,
			'lastName':payload.lastName,
			'email':payload.email,
			'phone':payload.phone
			}]
			]]></db:input-parameters>
		</db:insert>
	
</flow>
</mule>
